@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
}


body {
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 100vw;
    background-color: rgba(0,0,0,0.025);
}

#__main {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    gap: .5rem;
    padding: .5rem;
}

main * {
    width: fit-content;
}

button {
    cursor: pointer;
}

.__spacer {
    padding: 1rem !important;
    border: 1px dashed rgb(100,100,255) !important;
    background-color: rgba(100,100,255,0.08) !important;
}



details {
    overflow-y: scroll;
    min-height: 2rem;
    transition: 200ms;
}

details[open] {
    overflow-y: hidden;
    flex: 1;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
    height: 90vh;
    border: 1px solid #787878;
    border-radius: .5rem;
    background-color: #fafafa;
}

details > summary {
    display: flex;
    place-items: center;
    place-content: space-between;
    cursor: pointer;
}

details > summary:after {
    content: url('/public/assets/section-closed.svg');
    line-height: 0px;
}

details[open] > summary:after {
    content: url('/public/assets/section-open.svg');
}

.__sidebar-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-width: 7rem;
    height: 100%;

    overflow-y: scroll;
}

.__elems-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: .5rem;
    border: 2px dashed darkgray;
    padding: 1rem;
}

.__elems-container span {
    width: max-content;
}

.__og-drag {
    min-height: 2rem;
    min-width: 2rem;
    border: 1px solid black;
    border-radius: .5rem;
}

.__item {
    transition: 100ms !important;
}

.__item-hovered {
    outline: 2px dashed rgb(100,100,255) !important;
    background-color: rgb(243, 243, 255) !important;
}

#__tg-body {
    width: 100%;
    max-height: 90vh;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    background-color: white;
    overflow: scroll;
}

.__invisible-bg {
    display: none;
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
}

#__ctx-menu-wrapper {
    z-index: 1;
}

#__ctx-menu {
    position: absolute;
    top: 40vw;
    right: 40vw;
    display: flex;
    flex-direction: column;
    width: 9rem;
    background-color: #fafafa;
    border: 1px solid black;
    box-shadow: -3px 3px 7px 0 rgba(0,0,0,0.15);
}

#__ctx-menu-title {
    font-family: monospace;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    position: absolute;
    top: -3rem;
    border: 1px solid black;
    background-color: #fafafa;
    overflow: hidden;
    box-shadow: -3px 3px 7px 0 rgba(0,0,0,0.15);
}

#__ctx-menu hr {
    padding: 0 .5rem;
    border: none;
    border-top: 1px solid black;
}

.__ctx-menu-button,
#__ctx-menu p {
    padding: .5rem 1rem;
}

.__ctx-menu-button {
    display: flex;
    place-items: center;
    text-align: left;
    border: none;
    background: none;
    transition: 200ms;
}

.__ctx-menu-button:hover {
    background-color: #f0f0f0;
}

.__ctx-menu-button img {
    font-size: 1.25rem;
    margin-right: 1rem;
}

#__ctx-menu > details > summary {
    padding: .5rem;
}

#__ctx-menu > details > summary:after {
    content: url('/public/assets/section-open.svg');
}

#__ctx-menu > details[open] > summary:after {
    content: url('/public/assets/section-closed.svg');
}

#__ctx-menu > details > div {
    position: absolute;
    transform: translate(140px, -40px);
    background-color: #fafafa;
    border: 1px solid black;
    box-shadow: -3px 3px 7px 0 rgba(0,0,0,0.15);
}

.__ctx-menu-classes-btns {
    display: flex;
    place-items: center;
    place-content: space-between;
}

.__ctx-menu-classes-btns > .__ctx-menu-button {
    padding: .5rem;
}

.__ctx-menu-classes-btns > .__ctx-menu-button > img {
    margin: 0;
}


#__editors-wrapper {
    display: none;
    place-items: center;
    place-content: center;
    z-index: 2;
}

.__editor-wrapper {
    display: none;
    flex-direction: column;
    gap: .5rem;
    width: 85vw;
    height: 70vh;
}

.__editor-titlebar {
    display: flex;
    place-content: space-between;
    place-items: center;
    gap: .25rem;
}

.__editor-titlebar > * {
    border: 1px solid black;
    border-radius: .25rem;
    background-color: #fafafa;
    box-shadow: -3px 8px 19px 3px rgba(0,0,0,0.3);
    padding: .4rem;
}
.__editor-titlebar > p {
    padding: .6rem 1rem;
    font-family: monospace;
    overflow-x: scroll;
    text-wrap: nowrap;
}

.__editor {
    flex: 1;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    box-shadow: -3px 8px 19px 3px rgba(0,0,0,0.3);
    overflow: hidden;
}

.__editor * {
    font-family: "IBM Plex Mono" !important;
    font-size: 18pt !important;
}

.__editor-btn {
    padding: .25rem;
    border: 1px solid gray;
    border-radius: .25rem;
}

#__add-class-wrapper {
    place-content: center;
    place-items: center;
}

#__add-class-wrapper form {
    padding: .5rem;
    border: 1px solid;
    border-radius: .25rem;
    background-color: #f0f0f0;
    box-shadow: -3px 8px 10px 0px rgba(0,0,0,0.15);
}

#__add-class-wrapper input {
    border: none;
    padding: .5rem;
    font-size: 1rem;
    background: none;
    outline: none;
    color: black;
}

#__add-class-wrapper button {
    padding: .5rem;
}
